<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>category</title>
  </head>
  <body>
    <header><%- include('header'); %></header>
    <main>
      <div class="main-header"></div>
      <div class="catogory-container">
        <h1><%= `${loginedUserName}'s favorite shop categories`%></h1>
        <% shopCategories.forEach((shopCategory, index) => { %>
        <li><a href="/list/<%= index %>"><%= shopCategory %></a></li>
        <% }) %>
        <a href="/category/create">新規登録</a>
        <a href="/category/delete">削除</a>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
