<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>category</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/">トップ</a>
        &nbsp;>&nbsp;
        <a href="/login">ログイン</a>
        &nbsp;>&nbsp;カテゴリー
      </div>
    </header>

    <main>
      <div class="category">
        <h1><%= `Hello ${loginedUserName}`%></h1>
        <h1>favorite shop categories</h1>
        <ul class="category-list">
          <% shopCategories.forEach((shopCategory, index) => { %>
          <li>
            <a href="/list/<%= index %>"><%= shopCategory %></a>
          </li>
          <% }) %>
        </ul>
        <a href="/category/create" class="create">新規作成</a>
        <a href="/category/delete" class="delete">削除</a>
        <div class="logout">
          <form action="/logout" method="post">
            <input type="submit" value="ログアウト" />
          </form>
        </div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
