<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Create category</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/">トップ</a>
        &nbsp;>&nbsp;
        <a href="/login">ログイン</a>
        &nbsp;>&nbsp;
        <a href="/category">カテゴリー</a>
        &nbsp;>&nbsp;新規作成
      </div>
    </header>
    <main>
      <div class="create-category">
        <h1>Create New Category</h1>
        <form action="/category/create" method="post" id="create-category">
          <label for="category">カテゴリー</label>

          <!-- 入力値のエラー表示 -->
          <% if (Object.keys(errors).length > 0) { %>
          <p class="error"><%= errors.category %></p>
          <p class="error"><%= errors.duplication %></p>
          <% } %>

          <input
            type="text"
            id="category"
            name="category"
            value="<%= category %>"
          />
          <input type="submit" value="登録" />
        </form>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
