<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>create category</title>
  </head>
  <body>
    <header><%- include('header'); %></header>
    <main>
      <div class="main-header"></div>

      <div class="create-catogory">
        <form action="/category" method="post">
          <p>カテゴリー</p>

          <!-- 入力値のエラー表示 -->
          <% if (Object.keys(errors).length > 0) { %>
          <p class="error"><%= errors.category %></p>
          <% } %>

          <input name="category" type="text" />
          <input class="button" type="submit" value="登録" />
        </form>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
