<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>delete category</title>
  </head>
  <body>
    <header><%- include('header'); %></header>
    <h1>Delete Category</h1>
    <form action="/category/delete" method="post">
      <% shopCategories.forEach(shopCategory => { %>
      <input type="checkbox" name="<%= shopCategory %>" />
      <%= shopCategory %> <% }) %>
      <input class="button" type="submit" value="削除" />
    </form>
  </body>
</html>
