<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Login</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/">トップ</a>
        &nbsp;>&nbsp;ログイン
      </div>
    </header>
    <main>
      <div class="login">
        <h1>ユーザーログイン</h1>
        <h2 class="error"><%= errorMessage %></h2>

        <form action="/login" method="post">
          <label for="email">メールアドレス</label>
          <input type="text" name="email" id="email" autocomplete="email" />

          <label for="password">パスワード</label>
          <input
            type="password"
            name="password"
            id="password"
            autocomplete="current-password"
          />
          <p></p>
          <input type="submit" value="ログイン" />
        </form>
        <a href="/signUp" class="signup-link">ユーザー登録</a>
      </div>
    </main>
  </body>
</html>
