<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Login</title>
  </head>
  <body>
    <main>
      <h1>User Login</h1>
      <h2 class="error"><%= errorMessage %></h2>

      <form action="/login" method="post">
        <p>メールアドレス</p>
        <input type="text" name="email" />

        <p>パスワード</p>
        <input type="password" name="password" />

        <input class="button" type="submit" value="ログイン" />
      </form>
    </main>
  </body>
</html>
