<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>ログイン</title>
  </head>
  <body>
    <main class="login-parent">
      <div class="login">
        <h1>ユーザーログイン</h1>
        <h2 class="error"><%= errorMessage %></h2>

        <form action="/login" method="post">
          <!-- <p>メールアドレス</p>
          <input type="text" name="email" /> -->

          <label for="email">メールアドレス</label>
          <input type="text" id="email" name="email" />

          <label class="password" for="password">パスワード</label>
          <input type="password" id="password" name="password" />
          <p></p>
          <input class="button" type="submit" value="ログイン" />
        </form>
        <a href="/signUp">ユーザー登録</a>
      </div>
    </main>
  </body>
</html>
