<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>FavoriteShopApp</title>
  </head>
  <body>
    <header></header>
    <main>
      <h1>hello topages!</h1>
      <h2><%= categories %></h2>
      <div class="main-header"></div>
      <div class="catogory-container"></div>
    </main>
    <footer></footer>
  </body>
</html>
