<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Favorite Shop Memo</title>
  </head>
  <body>
    <main>
      <div class="top">
        <h1>Favorite Shop Memo</h1>
        <div class="logo">
          <img src="images/top-memo5.png" alt="ロゴ" />
        </div>
        <div class="top-button">
          <a href="/login">ログイン</a>
          <a href="/signUp">ユーザー登録</a>
        </div>

        <a href="http://webservice.recruit.co.jp/"
          ><img
            src="http://webservice.recruit.co.jp/banner/hotpepper-m.gif"
            alt="ホットペッパー Webサービス"
            width="88"
            height="35"
            border="0"
            title="ホットペッパー Webサービス"
            class="credit"
        /></a>
      </div>
    </main>
  </body>
</html>
