<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>favorite shop memo</title>
  </head>
  <body>
    <main>
      <div class="top">
        <h1>Favorite Shop Memo</h1>
        <div class="top-logo">
          <img src="images/top-memo5.png" alt="ロゴ" class="img-logo" />
        </div>
        <a href="/login">ログイン</a>
        <a href="/signUp">ユーザー登録</a>
      </div>
    </main>
  </body>
</html>
