/* top.ejs */
.top-parent {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.top {
  /* border: 1px solid #000; */
  text-align: center;
}
.top-logo img{
  width:25%;
  height:25%;
}

.top a {
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  max-width: 220px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: rgb(149,202,252);
  background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
}
.top a:hover {
  background: rgb(117,188,255);
  background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}

/* 共通設定 ================================ */
li {
  list-style:none;
}

body {
  background-color: #DCF5FF;
  padding: 50px;
  font: 16px Helvetica;
}

a {
  color: #00B7FF;
}

.error {
  color: red;
}
