/* 共通設定 ================================ */
li {
  list-style:none;
}

body {
  background-color: #F5F5F7;
  padding: 50px;
  font: 16px Lato;
}

a {
  color: inherit;
  text-decoration: none;
}

.error {
  color: red;
}

label {
  margin-top: 20px;
  display: block;
}

input {
  display: block;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
  width: 100%;
}

.header-container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}

.logined-user-name {
  display: block;
  text-align: right;
  margin:0;
}

.logined-user-name p {
  margin: 0 10%;
  font-size: 18px;
}

/* top.ejs ================================ */
.top {
  text-align: center;
}
.top-logo img{
  width:50%;
  height:50%;
}

.top a {
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  max-width: 220px;
  padding: 10px 25px;
  color: #FFF;
  font-weight: 600;
  background: rgb(62,62,62);
  background: linear-gradient(270deg, rgba(62,62,62,1) 0%, rgb(59,41,41,1) 100%);
  /* background: rgb(149,202,252);
  background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%); */
}
.top a:hover {
  background: rgb(30,42,65);
  background: linear-gradient(270deg, rgb(26, 34, 47) 0%, rgb(23, 28, 47) 100%);
  /* background: rgb(117,188,255);
  background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%); */
}


/* login.ejs ================================ */
.login {
  text-align: center;
}

.login input {
  margin: 10px auto 0px;
  width: 90%;
  max-width: 250px;
}

.login input[type="submit"] {
  cursor:pointer;
  border: none;
  background: transparent;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 10px;
  width: 200px;
  max-width: 220px;
  padding: 10px 25px;
  color: #FFF;
  font-weight: 600;
  background: rgb(62,62,62);
  background: linear-gradient(270deg, rgba(62,62,62,1) 0%, rgb(59,41,41,1) 100%);
}
.login input[type="submit"]:hover {
  background: rgb(30,42,65);
  background: linear-gradient(270deg, rgb(26, 34, 47, 1) 0%, rgb(23, 28, 47, 1) 100%);
}

.signup-link {
  text-decoration: underline;
}

.signup-link:hover {
  color:rgb(197, 114, 96);
}

/* signUp.ejs ================================ */
header a:hover {
  color:rgb(197, 114, 96);
}

.signup {
  text-align: center;
}

.signup input {
  margin: 0px auto 0px;
  width: 250px;
}

.signup input[type="submit"] {
  cursor:pointer;
  border: none;
  background: transparent;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 10px;
  width: 200px;
  max-width: 220px;
  padding: 10px 25px;
  color: #FFF;
  font-weight: 600;
  background: rgb(62,62,62);
  background: linear-gradient(270deg, rgba(62,62,62,1) 0%, rgb(59,41,41,1) 100%);
}
.signup input[type="submit"]:hover {
  background: rgb(30,42,65);
  background: linear-gradient(270deg, rgb(26, 34, 47, 1) 0%, rgb(23, 28, 47, 1) 100%);
}

.signup input {
  margin: 10px auto 0px;
  width: 250px;
}


/* category.ejs ================================ */
.logout{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.logout input[type="submit"] {
  /* submitボタンの見た目を消す設定 */
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
  /* その他の設定 */
  cursor:pointer;
  font-size: 16px;
  text-decoration: underline;
}

.logout input[type="submit"]:hover {
  color:rgb(197, 114, 96);
}

.category {
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.category h1{
  margin: auto auto;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 0;
  list-style-type: none;
}

.category-list li {
  /* position: relative; */
  border: 2px solid #fff;
  border-radius: 16px;
  background: #fff;
  box-sizing: border-box;
  /* height: 100%; */
  width: 45%;
  margin: 10px auto;

  /* 要素を縦方向に最大まで広げる */
  display: flex;
  align-items: stretch;
  min-height: 40px;
}

.category-list li a {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  
  /* padding: 10px 0; */
  /* aタグのクリック範囲を親要素まで広げる設定 */
  height: 100%;
  width: 100%;
  /* 長い文字の折返し：widthで幅設定して下記追加 */
  word-wrap: break-word;
  
  /* liタグ中のaタグの文字を上下中央に配置 */
  display: block;
  display: flex;
  align-items: center;
  /* liタグ中のaタグの文字を左右中央に配置 */
  justify-content: space-around;
  /* text-align: center; */
  /* text-align: center; */
  /* align-items: center; */
  /* vertical-align: middle; *
  /* line-height: 100%; */
}

.create, .delete {
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  margin: 10px auto;
  max-width: 220px;
  padding: 10px 25px;
  color: #FFF;
  font-size: 14px;
  background: rgb(62,62,62);
  background: linear-gradient(270deg, rgba(62,62,62,1) 0%, rgb(59,41,41,1) 100%);
}

.create:hover, .delete:hover {
  background: rgb(30,42,65);
  background: linear-gradient(270deg, rgb(26, 34, 47, 1) 0%, rgb(23, 28, 47, 1) 100%);
}

/* createCategory.ejs ================================ */
.create-category {
  text-align: center;
}

.create-category input {
  margin: 10px auto 0px;
  width: 250px;
}

.create-category input[type="submit"] {
  cursor:pointer;
  border: none;
  background: transparent;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 10px;
  width: 200px;
  max-width: 220px;
  padding: 10px 25px;
  color: #FFF;
  background: rgb(62,62,62);
  background: linear-gradient(270deg, rgba(62,62,62,1) 0%, rgb(59,41,41,1) 100%);
}
.create-category input[type="submit"]:hover {
  background: rgb(30,42,65);
  background: linear-gradient(270deg, rgb(26, 34, 47, 1) 0%, rgb(23, 28, 47, 1) 100%);
}

/* deleteCategory.ejs ================================ */
.delete-category {
  text-align: center;
}

.delete-category input[type="submit"] {
  cursor:pointer;
  border: none;
  background: transparent;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 10px;
  width: 100px;
  max-width: 220px;
  padding: 10px 25px;
  color: #FFF;
  background: rgb(208, 44, 44);
  background: linear-gradient(270deg, rgb(221, 60, 60) 0%, rgb(221, 26, 26) 100%);
}

.delete-category input[type="submit"]:hover {
  background: rgb(196, 53, 61);
  background: linear-gradient(270deg, rgb(209, 40, 46) 0%, rgb(200, 5, 5) 100%);
}

.delete-category input[type="checkbox"] {
  display: inline-block;
}

.delete-category input[type="checkbox"]:hover {
 cursor: pointer;
}

.delete-category label {
  display: block;
  text-align: left;
  font-size: 20px;
}

.delete-category label:hover {
  cursor: pointer;
  color: rgb(208, 44, 44);
}


/* list.ejs ================================ */
.list {
  text-align: center;
  width: 100%;
  max-width: 1500px;
}

.edit-category {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  margin: 21px 0px;
}

.edit-button {
  display: inline-block;
  text-align: center;
  padding: 0 5px;
}

.edit-button:hover {
  color:rgb(197, 114, 96);
}

.delete-button {
  /* submitボタンの見た目を消す設定 */
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
  /* その他の設定 */
  cursor:pointer;
  font-size: 16px;
  padding: 0 5px;
  white-space: normal; /* 文字がはみ出た時のルールを文字送りに指定 */
}

.delete-button:hover {
  color:rgb(197, 114, 96);
}

.register-button {
  cursor:pointer;
  border: none;
  background: transparent;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 10px;
  width: 150px;
  max-width: 220px;
  padding: 10px 25px;
  color: #FFF;
  background: rgb(62,62,62);
  background: linear-gradient(270deg, rgba(62,62,62,1) 0%, rgb(59,41,41,1) 100%);
}

.register-button:hover {
  background: rgb(30,42,65);
  background: linear-gradient(270deg, rgb(26, 34, 47, 1) 0%, rgb(23, 28, 47, 1) 100%);
}


table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 10px;
}

table tr{
  border-bottom: solid 1px rgb(62,62,62);;
}

table th,table td{
  text-align: left;
  padding: 15px 5px;
}

.list-edit, .list-delete {
  width: 6%;
}

.table-name {
  width: 14%;
}

.table-place {
  width: 14%;
}

.table-memo {
  width: 60%;
}

.description-column {
  white-space: pre-wrap;  /* 改行コードを含む文字列を改行表示するための設定 */
}

/* createList.ejs ================================ */
.create-list {
  text-align: center;
  width: 100%;
  max-width: 1500px;
}

.shop-name, .place {
  margin: 10px auto 0px;
  width: 80%;
  max-width: 350px;
}

.create-list textarea {
  margin: 10px auto 0px;
  width: 100%;
  max-width: 650px;
}

.create-button {
  cursor:pointer;
  border: none;
  background: transparent;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 10px;
  width: 50%;
  max-width: 220px;
  padding: 10px 25px;
  color: #FFF;
  background: rgb(62,62,62);
  background: linear-gradient(270deg, rgba(62,62,62,1) 0%, rgb(59,41,41,1) 100%);
}

.create-button:hover {
  background: rgb(30,42,65);
  background: linear-gradient(270deg, rgb(26, 34, 47, 1) 0%, rgb(23, 28, 47, 1) 100%);
}


/* editList.ejs ================================ */
.edit-list {
  text-align: center;
  width: 100%;
  max-width: 1500px;
}

.shop-name, .place {
  margin: 10px auto 0px;
  width: 80%;
  max-width: 350px;
}

.edit-list textarea {
  margin: 10px auto 0px;
  width: 100%;
  max-width: 650px;
}

.update-button {
  cursor:pointer;
  border: none;
  background: transparent;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 10px;
  width: 50%;
  max-width: 220px;
  padding: 10px 25px;
  color: #FFF;
  background: rgb(62,62,62);
  background: linear-gradient(270deg, rgba(62,62,62,1) 0%, rgb(59,41,41,1) 100%);
}

.update-button:hover {
  background: rgb(30,42,65);
  background: linear-gradient(270deg, rgb(26, 34, 47, 1) 0%, rgb(23, 28, 47, 1) 100%);
}